{% extends "basic.html" %}
{% block header %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        text-align: center;
    }
    table, td, th {
        border: 1pt solid black;
        padding: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    .batt5 { background-color: #80ff80; } /* 100% */
    .batt4 { background-color: #80ff80; } /* 80-99% */
    .batt3 { background-color: yellow; } /* 60-79% */
    .batt2 { background-color: orange; } /* 40-59% */
    .batt1 { background-color: red; } /* 20-39% */
    .batt0 { background-color: darkred; } /* 0-19% */
    .batt238 { background-color: gray; } /* N/A */
    .batt239 { background-color: lightgray; } /* Disconnected */
    .act1 { background-color: lightgray; }
    .act0 { background-color: #80ff80; }
    .active {
        animation: flash 1s infinite;
    }
    @keyframes flash {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
    .button-container {
        margin-top: 20px;
    }
    button {
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <img src='{{ url_for('static', filename='PiPartyLogo2small.png') }}' alt="Joust Mania!">
    <h3>Battery Status</h3>
    <p>Note: Does not update during games.</p>
    <table>
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>Battery</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for move, battery in ns.battery_status.items() %}
            <tr>
                <td>{{ move }}</td>
                <td class="batt{{ battery }}">{{ levels[battery] }}</td>
                <td class="act{{ ns.out_moves[move] }}{% if ns.out_moves[move] == 0 %} active{% endif %}">
                    {% if ns.out_moves[move] == 0 %}Yes{% else %}No{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="/battery"><button type="button">Refresh</button></a>
        <a href="/"><button type="button">Go Back</button></a>
    </div>
</div>
{% endblock %}
