[Unit]
Description=JoustMania Docker Compose Application
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/JoustMania
ExecStart=/home/pi/JoustMania/scripts/setup/joustmania-start.sh
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=600
User=pi
Group=pi

# Restart policy
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
