{% extends "basic.html" %}
{% block header %}
<script>
function updateStatus(){
    $.ajax({
        url: 'updateStatus',
        timeout: 2000,
        success: function(rawdata){
            info = JSON.parse(rawdata);
            $('.main_status').show()
            $('#game_mode').text(info.game_mode);
            $('.info_box').hide()
            $('.admin').hide()
            $('.error').hide()

            if (info.game_status=='in_game'){
                $('#gamebuttons').show();
                if (info.game_mode == 'Joust Free-for-All' || info.game_mode == 'Ninja'){
                    $('#free4all').show();
                    $('#total_players').text(info.total_players)
                    $('#remaining_players').text(info.remaining_players);
                } else if (info.game_mode == 'Tournament'){
                    $('#tournament').show()
                } else if (info.game_mode == 'Zombies'){
                    $('#zombies').show()
                    $('#humans').text(info.humans)
                    $('#dead_zombies').text(info.dead_zombies)
                    $('#alive_zombies').text(info.alive_zombies)
                    $('#time_left').text(info.time_left)
                } else if (info.game_mode == 'Commander'){
                    $('#commander').show()
                    $('#alpha_team').text(info.team_names[0] + ': ' + info.alpha_alive + '/'+ info.alpha_players)
                    $('#alpha_od_status').text(info.team_names[0] + ' Overdrive: ' +info.alpha_od_status)
                    $('#bravo_team').text(info.team_names[1] + ': ' + info.bravo_alive + '/'+ info.bravo_players)
                    $('#bravo_od_status').text(info.team_names[1] + ' Overdrive: ' +info.bravo_od_status)
                } else if (info.game_mode == 'Ninja Bomb'){
                    $('#ninja').show()
                    $('#total_ninjas').text(info.total_players)
                } else { //team mode without anything special
                    var team_info = '<br />';
                    if (info.game_mode == 'Werewolves'){//but then I jam a special line for werewolf in
                        team_info += 'Time to Reveal: ' + info.time_to_reveal + '<br /><br />';
                    }
                    for (i=0; i < info.team_comp.length; i++){
                        t = info.team_comp[i]
                        if (t[0] != 0){
                            team_info += info.team_names[i] + ': ' + t[1] + '/' + t[0] + '<br />';
                        }
                    }
                    team_info += '<br />';
                    $('#teams').html(team_info);
                    $('#teams').show();
                }

            } else if (info.game_status=='starting'){
                $('#starting').show();
                $('#player_count').text(info.alive_count);

            } else if (info.game_status=='ending'){
                $('#ending').show();
                $('#team_win').hide();
                if (info.game_mode != 'Joust Free-for-All' && info.winning_team != -1){
                    $('#team_win').show();
                    line = info.team_names[info.winning_team] + ' win!'
                    $('#team_win').text(line);
                }

            } else if (info.game_status=='killed'){
                $('#killed').show();

            } else  { //selection menu
                if (admin_menu == true){
                    $('.admin').show();
                } else {
                    $('#mainmenu').show();
                    $('#menubuttons').show();
                    $('#move_count').text(info.move_count);
                    $('#alive_count').text(info.alive_count);
                }
            }   
        },
        error: function(){
            $('.main_status').hide()
            $('.info_box').hide()
            $('.admin').hide()
            $('.error').show()
            console.log('something broke!')
        }
    });
};


$(document).ready(function(){

    $('.main_status').hide()
    $('.info_box').hide()
    $('.error').hide()
    $('#menubuttons').show()
    admin_menu = false

    $('#changemode').click(function(){
        $.get('changemode');
    });
    $('#startgame').click(function(){
        $.get('startgame');
    });
    $('#killgame').click(function(){
        $.get('killgame');
    });
    updateStatus();
    setInterval(updateStatus,500);
});
</script>
{% endblock %}

{% block body %}
<div class='main_status'>
Curent mode: <span id='game_mode'>Joust Null</span><br />
</div>


<div class='info_box' id='mainmenu'>
<br />
Connected Moves: <span id='move_count'>-999</span><br />
Alive Moves: <span id='alive_count'>-999</span><br /><br />
</div>

<div class='info_box' id='starting'>
<br />
Total Players: <span id='player_count'>-999</span><br /><br />
Game Starting!<br /><br />
</div>

<div class='info_box' id='free4all'>
<br />
Total Players: <span id='total_players'>-999</span><br />
Players remaining: <span id='remaining_players'>-999</span><br /><br />
</div>

<div class='info_box' id='teams'>
</div>

<div class='info_box' id="zombies">
<br />
Time remaining: <span id="time_left">OVER 9000</span><br /><br />
Humans: <span id='humans'>-999</span><br />
Dead Zombies: <span id='dead_zombies'>-999</span><br />
Alive Zombies: <span id='alive_zombies'>-999</span><br /><br />
</div>

<div class='info_box' id="commander">
<br />
<span id='alpha_team'>Alpha Team: -999/-999</span><br />
<span id='alpha_od_status'>Alpha Team Overdrive: lol</span><br />
<span id='bravo_team'>Bravo Team: -999/-999</span><br />
<span id='bravo_od_status'>Bravo Team Overdrive: lol</span><br />
<br />
</div>

<div class='info_box' id="ninja">
<br />
Total Players: <span id='total_ninjas'>-999</span><br /><br />
</div>

<div class='info_box' id="tournament">
<br />
Status coming soon to a web browser near you!<br /><br />
</div>

<div class='info_box' id='ending'>
<br />
Game over!<br />
<span id='team_win'>Null Team wins!<br /></span>
<br />
</div>

<div class='info_box' id='killed'>
<br />
Game Killed!<br /><br />
</div>

<div class='info_box' id='menubuttons'>
<button id='changemode'>Change Mode</button>
<button id='startgame'>Start Game</button>
<br><br>
<a href="/battery"><button>Battery Status</button></a>
<a href="/settings"><button>Admin Settings</button></a>
</div>

<div class='info_box' id='gamebuttons'>
<button id='killgame'>Kill Game</button>
</div>

<div class="error">
Cannot connect to Joustmania!
</div>

{% endblock %}
